:root{
  --cursor: pointer; 
  --boton-width: 50px;
  --boton-height: 25px;
  --button-color: #fff;
  --button-backgroundColor: #000;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.myForm{
  margin-top: 15px;

}
.figure_profileImg{
  display:inline-block;
  width: 90px;
  height: 90px;
  margin-right: 8px;
}

.profileImg{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
  
.lista {
  display: flex;
  /* si los botones no se acomodan como en el boceto cuando este dentro de un contenedor pdre, cambiar a space-around */
  justify-content: space-around;
  list-style: none;
  width: 75vw;
  margin-top: 10px;
  

    
}
  
.textArea {
  resize: none;
  width: 84%;
  height: 87px;
  outline: none;
  border-radius: 10px;
  border: none;
  border: 1px solid #959595;
  color: white;
   background-color:#0d1629;
}

  
.buttons{
  width: 120px;
  display: flex;
  justify-content: space-around;
  margin-left: -150px;
  
  
 }
 .uploadImg{
   cursor: var(--cursor);
   width: var(--boton-width);
   height: var(--boton-height);
   border-radius: 10px;
   border: none;
   color: var(--button-color);
   background-color: var(--button-backgroundColor);
 }
 .deletePost{
  cursor: var(--cursor);
  width: var(--boton-width);
  height: var(--boton-height);
  border-radius: 10px;
  border: none;
  color: var(--button-color);
   background-color: var(--button-backgroundColor);
 }

 .submitInput{
  width: 80px;
  height: 25px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #000;
  cursor: var(--cursor);
  
 }