.Container{
    border-bottom: 1px solid #959595;
    padding-bottom: 12px;
}

.PostContainer{
    width: inherit;
    height: 480px;
    margin: 0 auto;
    

}
.PostContainer p{
    margin-bottom: 18px;
    /* position: relative;
    left: -200px */
    color: white;
}

.profileHeader{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 36px;

}
.profileHeader__profileImg{
    width: 80px;
    height: 80px;
}
.profileHeader__profileImg img{
        position: relative;
        left: 16px;
        top: 8px;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    
.profileHeader p{
    position: relative;
    left: 20px;
    
}
.Names{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    color: white;
    font-size: 18px;
}


.postActions{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    cursor: pointer;
    /* margin-top: 14px; */
    font-size: 22px;
    color: white;
}

.postActions .Like:hover{
    color:red
}
.postActions .Like{

    font-size: 14px;
}

.postImage{
    border-radius: 10px;
    /* width: 100%;
    height: 100%; */
}

.quoteContainer{
    padding: 0 20px;
    /* text-align-last: justify; */
}

.quoteContainer p{
    font-size: 20px;
}