.LeftInfo{
    position: absolute;
    left: 0;
    height: 100vh;
    /* border: 1px solid #959595; */
    width: 255px;
    font-size: 20px;
    color: white;
    background-color: #0d1629;
}
.Logo{
    font-size: 40px;
    color: #1e57ce
}

.LeftInfo__options{
    list-style: none;
    position: relative;
    top: 180px;
}
.LeftInfo__options li{
    padding-bottom: 10px;
    cursor: pointer;
}

.LogOut{
    position: absolute;
    bottom: 80px;
    left: 95px;
    cursor: pointer;
    background-color: #052058;
    width: 132px;
    border-radius: 10px;
    padding: 4px;
    
}